{% load wagtailadmin_tags %}
<style>

    #dialog-icon .w-dialog__content {
        padding: 48px 40px;
    }


    .icon-selector-container {
        margin-bottom: 30px;
    }


    .icon-selector {
    }

    #icon-button {
        height: 40px;
        width: 300px;
        background-color: #fff;
        display: flex;
        justify-content: start;
        align-items: center;
    }


    #icon-options {
        margin: 20px 0;
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        overflow: scroll;
        justify-content: center;
    }

    .svg-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 50px;
        overflow: hidden;
        width: 100px;
        margin: 20px 10px;
        cursor: pointer;
        white-space: nowrap;
    }

    .icon-label {
        font-size: 12px;
        width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .icon-option {
        height: 40px;
        width: 40px;
    }

    .selected-icon {
        height: 40px;
        width: 40px;
        margin-right: 12px;
    }

</style>

<script>
    const selectedIcon = "{% if widget.value != None %}{{ widget.value|stringformat:'s' }}{% endif %}"
</script>

<div class="icon-selector-container">
    <div class="icon-selector">
        <input type="{{ widget.type }}" name="{{ widget.name }}"{% if widget.value != None %}
               value="{{ widget.value|stringformat:'s' }}"{% endif %}{% include "django/forms/widgets/attrs.html" %}>
        <button id="icon-button" type="button" data-a11y-dialog-show="dialog-icon" style="padding: 0">
            <span id="selected-icon">
                {% if widget.value %}
                    <svg class="icon selected-icon" aria-hidden="true">
                        <use href="#{{ widget.value }}"></use>
                    </svg>
                {% endif %}
            </span>
            <span class="icon-select-message">
                Click to choose icon
            </span>
        </button>
        {% dialog id="dialog-icon" title="Select Icon" %}
            <div class="w-field__wrapper w-mb-0" data-field-wrapper="" style="margin-top: 20px">
                <label class="w-field__label w-sr-only" for="id_icon_filter" id="id__icon_filter-label">
                    Search icon
                </label>
                <div class="w-field w-field--char_field w-field--text_input" data-field="" data-contentpath="q">
                    <div class="w-field__input" data-field-input="">
                        <svg class="icon icon-search w-field__icon" aria-hidden="true">
                            <use href="#icon-search"></use>
                        </svg>
                        <input type="text" name="search_icon" placeholder="Search icon" id="id_icon_filter">
                    </div>
                </div>
            </div>
            <div id="icon-options">
            </div>
        {% enddialog %}
    </div>
</div>



